.jumbotron {
    background:      url('../img/jumbotron.jpg') no-repeat;
    background-size: cover;
    padding-bottom:  170px;
    padding-top:     220px;
}

.header {
    color:       #fff;
    display:     block;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:   3.2em;
    font-weight: 500;
}

.header-description {
    color:       #fff;
    font-size:   2em;
    font-weight: 200;
}