.navbar {
    background-color: white !important;
}

.jumbotron {
    background:          url('../img/banner_3.jpg') no-repeat;
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: 170% bottom;
    background-color:    black;
    padding-bottom:      300px;
    padding-top:         300px;
    margin-top:          65px;
}

.header {
    color:       white;
    font-size:   3em;
    font-weight: 300;
}

.header-description {
    color:       white;
    font-size:   1.5em;
    font-weight: 200;
}

@media(min-width: 768px) {
    .jumbotron {
        background-position: 130% bottom;
        padding-bottom:      110px;
        padding-top:         160px;
    }

    .header-description {
        color:       white;
        font-size:   1.2em;
        font-weight: 200;
        width:       50%;
    }
}

@media (min-width: 992px) { 
    .jumbotron {
        background-position: 130% bottom;
        padding-bottom:      110px;
        padding-top:         160px;
    }

    .header-description {
        color:       white;
        font-size:   1.2em;
        font-weight: 200;
        width:       50%;
    }
 }