.navbar {
    background-color: white !important;
    color:            black;
}

.nav-item {
    color: #17a2b8 !important;
}

.jumbotron {
    background-color: black;
    padding-top:        140px;
    padding-bottom:     110px;
    margin-top:         65px;
    margin-bottom:      0px;
}

.jumbotron-img {
    display:  inline-block;
    overflow: hidden;
}

.jumbotron-img img {
    -webkit-transform: scale(1.21);
    -moz-transform:    scale(1.21);
    -o-transform:      scale(1.21);
    -ms-transform:     scale(1.21);
    transform:         scale(1.21);
}

.header-title {
    color:       white !important;
    font-size:   3.2em;
    font-weight: 300;
}

.header-description {
    color:       white !important;
    font-size:   1.4em;
    font-weight: 200;
}

.section-2 {
    background-color: white !important;
    padding-top:      60px;
    padding-bottom:   60px;
    color:            black;
}

.section-3 {
    background-color: black !important;
    padding-top:      40px;
    padding-bottom:   40px;
}

.section-3-description {
    color:       white !important;
    font-size:   1.4em;
    font-weight: 400;
}

.footer-above {
    background-color: white !important;
    padding-top:      120px;
    padding-bottom:   120px;
    color:            black;
}

.footer-below {
    background-color: black !important;
    padding-top:      15px;
    padding-bottom:   15px;
    color:            white;
}